
.sidebarHeader :global .MuiBox-root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sidebarHeader a {
    display: flex;
}

.sidebarHeader svg {
    font-size: 40px;
}

.sidebarHeader .TitleHeader {
    color: white;
}

.sidebarHeader header {
    height: 100%;
}