.sidebarMenu {
    display: flex;
    align-items: center;
    position: relative;
}

.sidebarMenu__icon__container :global .sidebarMenu__icon{
    font-size: 30px;
    color: #5a6a90;
}

.sidebarMenu__icon__container.active :global .sidebarMenu__icon{
    color:  #fff;
    transition: all 0.3s ease-in-out;
}

.sidebarMenu__icon__container :global .sidebarMenu__icon:hover {
    color: #FC4747;
}